# *
#
# !*/
#
#
#
# # track this file
#
#
#
.github
.gitignore
#
#
#
# # whitelist everything in ./nvim/
# !README.md
# !nvim/**
# !kabai/**
# !skhd/**
# !testFolder/**
# !alacritty/**
# !tmux/**
# Exclude
configstore/**
filezilla/**
flutter/**
github-copilot/**
gtk-3.0/**
jgit/**
kitty/**
raycast/**
valet/**
tmux/plugins/**
